body {
	background-position: center; 
	background-repeat: no-repeat;
	background-size: cover;
	font-family: $body-font-family;
	
	> * {
		.row {
			padding: $global-padding 0; 
			background-color: darken($primary-color, 12.5%); 
		}
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: $body-font-family; 
}

.logo {
	@include breakpoint(small down) {
		text-align: center;
	}
}

.callout {
	&.alert {
		background-color: $alert-color;
		color: $white; 
	}
}

nav {
	.menu {
		li {
			margin-bottom: $global-margin; 
			margin-right: $global-margin;
			
			h3 {
				padding: (0.5 * $global-padding) 0; 
			}
		}
	}
}

.sobar {
	.social {
		&.micro {
			margin: 0.75rem;
		}
	}
}

h1 {
	font-size: rem-calc(32);
	
	@include breakpoint(medium up) {
		font-size: rem-calc(38); 
	} 
}

h2 {
	font-size: rem-calc(22); 
}

h3 {
	font-size: rem-calc(16);
}

#chat {
	.responsive-embed {
		padding-bottom: 125.00%;
	} 
	
	.button {
		width: 100.00%; 
	}
}

.tabs-title {
	a {
		&[aria-selected=true] {
			background-color: $tab-background-active; 
		}
	
		&:hover {
			background-color: $tab-background-active;
		}
	}
}

.tabs-content {
	border: 1px solid $tab-background-active;
	
	@include breakpoint(small down) {
		margin-top: $global-margin; 
	}
}

#schedule {
	h3 {
		font-size: rem-calc(16);
	}
}

.table-scroll {
	table {
		margin: 0; 
		width: 100.00%;
		
		.highlight {
			background-color: $tab-background-active;
			font-style: italic; 
		}
		
		.main-event {
			font-weight: bold;
			background-color: $body-background;
			
			&.no-concurrent {
				color: darken($white, 20%); 
				background-color: darken($body-background, 5%); 
				
				&.highlight {
					background-color: darken($tab-background-active, 10%); 
				}
			}
		}
		
		.sub-event {
			.concurrent {
				vertical-align: top; 
			}
		}
	}
}

.asterisk {
	color: darken($white, 10%); 
}

footer {
	margin-top: $global-margin; 
}