body {
	background-position: center; 
	background-repeat: no-repeat;
	background-size: cover;
	
	> * {
		.row {
			padding: $global-padding 0; 
			background-color: darken($primary-color, 12.5%); 
		}
	}
}

.logo {
	@include breakpoint(small down) {
		text-align: center;
	}
}

.callout {
	&.alert {
		background-color: $alert-color;
		color: $white; 
	}
}

nav {
	.menu {
		li {
			margin-bottom: $global-margin; 
			margin-right: $global-margin;
		}
	}
}

.sobar {
	.social {
		&.micro {
			margin: 0.75rem;
		}
	}
}

h1 {
	font-size: rem-calc(34);
	
	@include breakpoint(medium up) {
		font-size: rem-calc(40); 
	} 
}

h2 {
	font-size: rem-calc(24); 
}

h3 {
	font-size: rem-calc(24);
}

#chat {
	.responsive-embed {
		padding-bottom: 125.00%;
	} 
	
	.button {
		width: 100.00%; 
	}
}

.tabs-title {
	a {
		&[aria-selected=true] {
			background-color: $tab-background-active; 
		}
	
		&:hover {
			background-color: $tab-background-active;
		}
	}
}

.tabs-content {
	border: 1px solid $tab-background-active;
	
	@include breakpoint(small down) {
		margin-top: $global-margin; 
	}
}

#schedule {
	h3 {
		font-size: rem-calc(16);
	}
}

.table-scroll {
	table {
		margin: 0; 
		width: 100.00%;
		
		.highlight {
			background-color: $tab-background-active;
			font-style: italic; 
		}
	}
}

footer {
	margin-top: $global-margin; 
}