//Override colors.
$foundation-palette: (
  primary: #143153,
  secondary: #2B4A6F,
  success: #002218,
  warning: #332800,
  alert: #330300,
);
$light-gray: #777;
$medium-gray: #AAA;
$dark-gray: #CCC;
$black: #000;
$white: #DDD;
$body-background: #051C38;
$body-font-color: $white;