//Override colors.
$foundation-palette: (
  primary: #0c4180,
  secondary: #203b5d,
  success: #002218,
  warning: #332800,
  alert: #330300,
);

$primary-color: get-color(primary); 
$secondary-color: get-color(secondary);
$success-color: get-color(success);
$warning-color: get-color(warning);
$alert-color: get-color(alert); 

$light-gray: #CACACA;
$medium-gray: #979797;
$dark-gray: #656565;
$black: #000;
$white: #CFCFCF;
$body-background: #01142b;
$body-font-color: $white;
$body-font-family: 'Open Sans', 'Roboto', sans-serif, serif;
$button-background: $primary-color; 
$tab-background: $body-background; 
$tab-background-active: $primary-color; 
$tab-color: $white; 
$tab-active-color: $white; 
$tab-item-font-size: rem-calc(17);
$tab-background-active: $primary-color; 
$tab-content-background: $body-background; 
$tab-content-border: $primary-color;
$tab-content-color: $white;
$table-background: darken($dark-gray, 25%);
$table-striped-background: darken($table-background, 5%);
$table-head-background: $table-striped-background;
$table-border: 1px solid $table-background;
$table-head-font-color: $white;

$FontPathOpenSans: '../fonts'; 